<%
var id = "index";
var title = "";
var description = "sample text,sample text";
var keywords = "word1,word2,word3";
var type = "blog";
%>

<% include metadata/_head %>
<% include layout/_l-header %>

    <!--start l-contents-->
    <div class="l-container u-clear">

        <div id="js-sample"></div>

    </div>
    <!--end l-contents-->

<% include layout/_l-footer %>
<% include metadata/_script %>