<article class="media">
    <a class="media-link u-clear" href="">
        <div class="media-thumbnail">
            <img src="http://placekitten.com/200/120" height="120" width="200" alt="">
        </div>
        <div class="media-body">
            <time class="media-date" datetime="yyyy-mm-ddT00:00+09:00">
                <i class="media-icon icon icon-clock"></i>mm/dd
            </time>
            <h1 class="media-heading">Title</h1>
            <p class="media-description">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text...</p>
        </div>
    </a>
</article>