/*
#overview
button
*/

/*
#styleguide
button
style comment.
```
<a class="button" href="">
    <span class="button-text">Button more</span>
</a>
```
*/

.button {
    display: inline-block;
    color: #fff;
    background-color: $color-main;
    border-radius: 5px;
    padding: 10px 35px;
    box-shadow: 0 5px 0 darken($color-main,20%);
    transition-property: box-shadow, transform;
    transition-duration: $duration;
    transition-timing-function: $easing;
    &:hover {
        text-decoration: none;
        transform: translate3d(0, 5px, 0);
        box-shadow: 0 0 0 darken($color-main,20%);
    }
}