/*
#overview
category
*/

/*
#styleguide
category

```
<a class=";ctcategory" href="">
    <img src="http://placekitten.com/300/250" height="250" width="300" alt="">
</a>
*/

.category {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;

    &-a {
        background-color: $color-main;
    }
    &-b {
        background-color: $color-sub;
    }
    &-c {
        background-color: $color-caution;
    }
}