/*
#overview
input
*/

/*
#styleguide
input
```
<input class="input" type="text" placeholder="ex)...">
```
*/

.input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-weight: normal;
    height: 50px;
    line-height: 48px;
    padding: 10px 15px;

    &::placeholder {
        font-family: $font-jp;
        color: #ddd;
    }
}

//ie hack
.ie .input {
    line-height: 1;
}

.ie10 .input {
    line-height: normal;
}