/*
#overview
media
*/

/*
#styleguide
media
style comment.
```
<article class="media">
    <a class="media-link u-clear" href="">
        <div class="media-thumbnail">
            <img src="http://placekitten.com/200/120" height="120" width="200" alt="">
        </div>
        <div class="media-body">
            <time class="media-date" datetime="yyyy-mm-ddT00:00+09:00">
                <i class="media-icon icon icon-clock"></i>mm/dd
            </time>
            <h1 class="media-heading">Title</h1>
            <p class="media-description">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text...</p>
        </div>
    </a>
</article>
```
*/

.media {
    .media-link {
        display: bslock;
        color: $color-default;
        &:hover {
            text-decoration: none;
            .media-thumbnail > img {
                transform: scale(1.2);
            }
        }
    }
    .media-thumbnail {
        float: left;
        overflow: hidden;
        > img {
            transition: transform $duration $easing;
        }
    }
    .media-body {
        position: relative;
        margin-left: 220px;
    }
    .media-heading {
        padding-right: 70px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .media-date {
        position: absolute;
        right: 0;
        top: 0;
    }
    .media-icon {
        position: relative;
        top: 1px;
        margin-right: 5px;
    }
    .media-description {
        font-size: 18px;
    }
}