/*
#overview
nav
*/

/*
#styleguide
nav
```
<nav class="nav">
    <div class="nav-inner l-grid l-grid-col4">
        <ul class="nav-list l-grid-inner">

            <li class="nav-item l-grid-item">
                <a class="nav-link nav-link-current" href="#">
                    home
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    About
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Service
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Contact
                </a>
            </li>

        </ul>
    </div>
</nav>
```
*/

.nav {
    padding: 8px 0;
    .nav-inner {}
    .nav-list {
        margin: 0 -10px;
    }
    .nav-item {
        padding: 0 10px;
    }
    .nav-link {
        display: block;
        padding: 10px;
        background-color: $color-base;
        text-align: center;
        color: #999;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}