.single-body {
    p, div:not([class]), ol, ul, li, blockquote, iframe {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    b, em, strong {
        font-weight: bold;
    }
    i:not([class]) {
        font-style: italic;
    }
    u {
        transition-duration: underline;
    }

    h2 {
        @extend .headline;
        text-align: left !important;
        margin: 40px 0;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    iframe {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .movie {
        position: relative;
        width: 100%;
        padding: 56.25% 0 0;

        iframe {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    //Point
    dl:not([class]) {
        background-color: #ccc;
        padding: 20px;
        > dt {
            margin-bottom: 10px;
            font-weight: bold;
        }
        //> dd {}
    }

    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    ul, ol {
        li {
            margin: 0 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        li {
            position: relative;
            padding-left: 20px;
            &:before {
                content: "";
                background-color: #000;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: 0;
            }
            ul {
                margin: 5px 0 5px 10px;
            }
        }
    }

    ol {
        li {
            list-style: decimal;
            margin-left: 20px;
        }
    }

    //引用文
    blockquote {
        border: 1px solid #ccc;
        position: relative;
        padding: 20px 20px 20px 60px;

        &:before {
            content: '”';
            font-size: 50px;
            color: #ccc;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        > p {
            margin: 0;
        }

        a {
            text-decoration: underline;
        }
        > small {
            margin-top: 10px;
            display: block;
            color: #ccc;
            a {
                color: #ccc;
            }
        }
    }
}