    <!--footer ここから-->
    <footer class="l-footer l-footer-mt">
        <a class="page-top js-scroll" href="#js-body">Top</a>
        <div class="l-container">
            <div class="l-footer-top">

            </div>
            <div class="l-footer-bottom">
                <small>&copy;2016 LIG inc.</small>
            </div>
        </div>
    </footer>
    <!--footer ここまで-->