<!--start l-sidebar-->
<aside class="l-sidebar" id="js-sticky">
    <ul class="l-sidebar-list">
        <li class="l-sidebar-item">
            <% include ../module/sidebar/_banner %>
        </li>
        <li class="l-sidebar-item">
            <% include ../module/sidebar/_social %>
        </li>
        <li class="l-sidebar-item">
            <% include ../module/sidebar/_facebook-widget %>
        </li>
    </ul>
</aside>
<!--end l-sidebar-->